<section class="column col-6 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" id="main-window-container">
    <div class="main-window-header-image mirror-image"><img src="Img/trees-telephone.jpg"
            alt="Sunset view and tree-tops" id="home-sunset-picture"></div>
    <div class="main-page-icon"><i class="fas fa-comment color-pink"></i></div>
    <div class="header-headline">react<div class="header-headline-bolded">AND</div>read</div>

    <div class="flex-two-rows-comment">
        <div class="flex-left-comment">

            <form action="/post-comment" method="POST" id="post" class="comment-container">
                <div class="header-in-box">post<div class="header-in-box2">YOUR</div>message</div>
                <input type="text" name="post" id="comment" class="input-box-comment" required autocomplete="off"
                    placeholder="50 character limit:" title="Post a comment">
            </form>
            <form action="/find-poster" method="GET" id="post" class="comment-container">
                <div class="header-in-box">find<div class="header-in-box2">YOUR</div>poster</div>
                <input type="text" name="find" id="comment" class="input-box-comment" required autocomplete="off"
                    placeholder="Find you favorite poster" title="Post a comment">
            </form>
        </div>

        <div class="flex-right-comment">
            {{#each comments}}
            <div class="comment-box">
                <div class="empty-comment-box-header">
                    <div class="comment-name">{{ username }}</div>
                    <div class="comment-date">{{ created_at }}</div>
                    {{#if ../isAdmin }}
                    <form action="/delete-comment" method="POST">
                        <input type="hidden" name="id" value="{{ id }}">
                        <button type="submit" name="delete-post" id="delete-post">X</button>
                    </form>
                    {{else}}
                    {{#when username 'eq' ../logName }}
                    <form action="/delete-comment" method="POST">
                        <input type="hidden" name="id" value="{{ id }}">
                        <button type="submit" name="delete-post" id="delete-post">X</button>
                    </form>
                    {{/when}}
                    {{/if}}
                </div>
                <div class="comment-content">{{ post }}</div>
                <div class="user-info">
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>